body {
  font-family: vazirmatn;
  direction: rtl;
  background-color: #c4def7;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ffffff;
}

a {
  text-decoration: none;
  color: initial;
}

li,
ul {
  list-style: none;
}

.flex {
  display: flex;
}

container {
  width: 100%;
  height: 100vh;
  max-width: 1124px !important;
  padding: 16px;
}

icon-wrapper {
  width: 90%;
  justify-content: end;
  margin: 16px auto;
}

.setting-icon,
.user-icon {
  width: 25px;
  height: 25px;
  color: #feffff;
  margin: 0 10px;
  cursor: pointer;
}

wrapper {
  width: 90%;
  height: 80vh;
  margin: auto;
  justify-content: space-between;
}

right-side,
left-side {
  width: 24%;
  height: 100%;
  background-color: var(--primary-color);
  border: none;
  border-radius: 24px;
}

main {
  width: 50%;
  background-color: var(--primary-color);
}

right-side {
  position: relative;
}

right-side > h2 {
  padding: 16px;
  font-size: 1.5rem;
  font-weight: 950;
}

todo-list {
  height: 80%;
}

right-side > hr {
  color: #eeeef03e;
}

todo-list > ul {
  margin: 16px auto;
  width: 90%;
}
.todo-list-ul li {
  border: 2px solid rgba(85, 83, 83, 0.281);
  margin: 16px auto;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

todo-list li > div {
  padding: 15px 0;
}

.edit-button {
  font-size: 1rem;
  padding-right: 4px;
  border: none;
  background: none;
  outline: none;
  display: none;
}

todo-list li > p {
  font-size: 1rem;
  padding: 4px;
}

.delete-button {
  margin: auto 4px;
  display: none;
  cursor: pointer;
  font-size: 2rem;
  background: none;
  border: none;
  outline: none;
}

todo-list li:hover .delete-button,
todo-list li:hover .edit-button {
  display: block;
}

insert-todo-box {
  justify-content: space-between;
  padding: 10px;
  border: 2px solid rgba(85, 83, 83, 0.281);
  border-radius: 8px;
  margin: 16px;
  height: 6vh;
  position: absolute;
  bottom: 0;
}

insert-todo-box > input {
  width: 80%;
  font-size: 1rem;
  border: none;
  outline: none;
  font-family: vazirmatn;
  padding: 4px;
}

.plus-button {
  margin: auto;
  background-color: var(--primary-color);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.todo-list-ul p {
  margin-right: 5px;
}
